{% if resource.resources|length > 1 %}
    {% for resource in resource.resources %}
        <h3 class="py-5 border-top">{{ resource.uri }}</h3>
        <div class="container-fluid">
            {% include theme ~ "/resource-endpoints.html.twig" %}
        </div>
    {% endfor %}
{% else %}
    <div class="container-fluid">
        {% include theme ~ "/resource-endpoints.html.twig" %}
    </div>
{% endif %}
