<div class="response">
    {% for response in method.responses %}
        {% if response.headers or response.bodies %}
            <h6 class="heading text-gray border-bottom pb-2">Responses</h6>
            {% if response.headers %}
                <ul class="collection with-header">
                    <li class="collection-item">
                        <ul class="browser-default">
                            {% for item in response.headers %}
                                {% include theme ~ "/named-parameter.html.twig" %}
                            {% endfor %}
                        </ul>
                    </li>
                </ul>
            {% endif %}
            {% if response.bodies %}
                <div class="pb-3">
                    <p id="{{ sectionId }}_{{ method.type|lower }}_response_{{ response.statusCode }}" class="response__code">
                        <code>Code: {{ response.statusCode }}</code>
                    </p>
                    {% for b in response.bodies %}
                        {% if b.examples %}
                            {% for example in b.examples %}
                                {% set mediaType = schema_format(b.mediaType) %}
                                {% set clipboardId = mediaType ~ '_' ~ uuid() %}
                                {% include theme ~ "/example.html.twig" %}
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                </div>
            {% endif %}
        {% endif %}
    {% endfor %}
</div>
