{% if (resource.methods or (resource.description and resource.parentUrl)) %}
    {% for method in resource.methods %}
        <li class="py-2">
            <a href="#{{ method.displayName|replace({' ': '-'})|lower }}" class="navigation__link">
                {{ method.displayName }}
            </a>
        </li>
    {% endfor %}
{% endif %}

{% for resource in resource.resources %}
    {% include theme ~ "/sidebar-menu.html.twig" %}
{% endfor %}
